*{
    margin: 0;
    font-family: Arial;
    border: border-box;
}
.navbar{
    height: 60px;
    background-color: #0F1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.navlogo{
    height: 50px;
    width: 100px;
}
.logo{
    background-image: url("amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 100%;
}
.Border{
    border: 1.5px solid transparent;
    
}
.Border:hover{
    border: 1.5px solid white;
}
.addFirst{
    color: #CCCCCC;
    font-size: 0.85rem;
    margin-left: 15px;

}
.addSecond{
    font-size: 1rem;
    margin-left: 3px;

}
.addIcon{
    display: flex;
    align-items: center;
}
.navSearch{
    display: flex;
    justify-content: space-evenly;
    background-color: pink;
    width: 620px;
    height: 40px;
    border-radius: 3px;
}
.SearchSelect{
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border: none;
}
.navSearch:hover{
    border: 2px solid orange;
}
.SearchInput{
    width: 100%;
    font-size: 1rem;
    border: none;
}
.searchIcon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: #febd68;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: #0F1111;
}
span{
    font-size: 0.7rem;

}
.navsec{
    font-size: 0.85rem;
    font-weight: 700;
}
.navcart i{
    font-size: 30px;

}
.navcart{
    font-size: 0.85rem;
    font-weight: 700;
}
.panel{
    height: 40px;
    background-color: #222f3d;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}
.panelops p{
    display: inline;
    margin-left: 15px;
}
.panelops{
    width: 70%;
    font-size: 0.85rem;
}
.paneldeals{
    font-size: 0.9rem;
    font-weight: 700;
}
.herosec{
    background-image:url("hero_image.jpg");
    height: 350px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
   
}
.heromes{
    background-color: white;
    color: black;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    width: 96%;
    margin-bottom: 25px;
}
.heromes a{
    color: #007185;
}
.shop{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6;
}
.box{
    
    height: 400px;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 15px;
}

.boximage{
    height: 300px;
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
    
}
.boxcontent{
    margin-left: 1rem;
    margin-right: 1rem;
    
}
.boxcontent p{
    color: #007185;

}
.boxcontent p:hover{
    color: red;
    text-decoration: underline;
}
footer{
    margin-top: 15px;
}
.footpanel1{
    background-color: #37475a;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
}
.footpanel2{
    background-color: #222f3d;
    color: white;
    height: 500px;
    display: flex;
    justify-content: space-evenly;

}
ul{
    margin-top: 40px;
}
ul p{
    font-weight: bold;
 }
ul a{
    display: block;
    font-size: 0.85rem;
    margin-top: 10px;
    color: #dddddd;
}
.footpanel3{
    background-color: #222f3d;
    color: white;
    border-top: 0.5px solid white;
    height: 68px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.logo{
    background-image: url("amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 100px;
}
.footpanel4{
    background-color: #0F1111;
    color: white;
    height: 80px;
    font-size: 0.7rem;
    text-align: center;
}
.pages a{
    margin-right: 15px;
}
.pages{
    
    padding-top: 25px;
}
.copyrt{
    text-align: center;
}
